@import "tailwindcss";

/* Hide scrollbars globally across all browsers while retaining scroll functionality */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}